.start-container{
    background-color: rgb(0, 0, 0);
    height: 100vh;

}
.btn-admin{
    position: absolute;
    top: 40%;
    left: 20%;
    
}
.btn-content-creator{
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 20px;
    
}
.btn-vizualizare{
    position: absolute;
    top: 60%;
    left: 20%;
    
}