.start-container{
    
}
.img{
   
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
  
}
/* .overlay{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: #000000fd;
    opacity: 0.4;
} */


.BtnGrup{
    background-color: rgb(2, 35, 78);
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* opacity: 50%; */
}

.info-container{
    background-color: rgb(2, 35, 78);

   

}

.clasOficial, .ultimelenoutati{
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
}
.uumeci, .intalnesteechipa{
    isplay: flex;
    justify-content: flex-start;
    padding-left: 20%;
}
.afismeci{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rezultat{
    display:grid;
    row-gap: 2px;
    
}
.data, .scor, .cifa1, .cifa2, .linie, .textrezultat{

    text-align: center;
}
.imgparticipant1{
    height: 58px;
    width: 58px;
}
.lotcurrent{
    display: flex;
   


    
}
.lotcurentcorp{
    /* display:grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5,auto);
     */
     display: flex;
     flex-wrap: wrap;
     overflow-x:auto;
     justify-content: center;
     align-content: center;
     gap: 20px;
     


}

.imglotjuc{
    height:150px;
    width: 150px;
    border-radius: 20%;
}
.imglogo{
    
    height:100px;
    width: 100px;
    border-radius: 8px;
}
.imglogoc{
    background-color: rgb(2, 35, 78);
    display: flex;
    justify-content: end;
    border-radius: 10px;
}
